---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=3&lang=en&q=hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="rq8yYlzARbyf8e3v9NEX7g9P6qPtDQAn3OQZ932NsU",
        oauth_signature="4qJcU%2BqziSCQpMd1fHfL912yoqY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377066215", oauth_token="1672554398-uZt0fWOalAWY7QuRlQou7KuOxk4DlK9T8rVJWbL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 21 Aug 2013 06:23:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1377067113'
      X-Transaction:
      - 5a8d2dd043b5ac99
    body:
      encoding: US-ASCII
      string: ! '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Aug 21 06:23:18 +0000 2013","id":370068575803154432,"id_str":"370068575803154432","text":"@aiR_La
        hello wassup","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":370017306274832384,"in_reply_to_status_id_str":"370017306274832384","in_reply_to_user_id":627289247,"in_reply_to_user_id_str":"627289247","in_reply_to_screen_name":"aiR_La","user":{"id":346240701,"id_str":"346240701","name":"eUgEnE","screen_name":"its_annor","location":"ghana","description":"am
        regularly irregular","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":174,"friends_count":205,"listed_count":0,"created_at":"Sun
        Jul 31 23:34:54 +0000 2011","favourites_count":4,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4578,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/3694692996\/c179f5b65c0ce0bfc41ae4eb1542ecd9_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/3694692996\/c179f5b65c0ce0bfc41ae4eb1542ecd9_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/346240701\/1364511933","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"aiR_La","name":"\u2665AwuRAdjOA\u2665","id":627289247,"id_str":"627289247","indices":[0,7]}]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Aug 21 06:23:18 +0000 2013","id":370068574175391744,"id_str":"370068574175391744","text":"Hello
        again, thesis.","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=10&screen_name=gem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="BnMtrZEjTGfBB1TuEayWX2mUH7uEHzh9623gliulI",
        oauth_signature="4AwVUInU4YoWbCRTM5WmfYScI4o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377156567", oauth_token="1672554398-m0VpYgcLfnrqz0CxdabdYMK8ow[...]
