---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=3&lang=en&q=happy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="06phlXQrNoHWtBkSPGzxYiAkWtvBGZ1wh4xJelaPA",
        oauth_signature="mGZ0PpwdS0aHkQd79kY3IUGSiYE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377066214", oauth_token="1672554398-uZt0fWOalAWY7QuRlQou7KuOxk4DlK9T8rVJWbL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 21 Aug 2013 06:23:33 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1377067113'
      X-Transaction:
      - bf36656d50fb1927
    body:
      encoding: US-ASCII
      string: ! '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Aug 21 06:23:17 +0000 2013","id":370068572149919744,"id_str":"370068572149919744","text":"I
        didn''t get a chance to tell you happy birthday.. so happy very belated birthday
        v... \u2014 Aw thanks whoever you are. http:\/\/t.co\/6YhdVG7H54","source":"\u003ca
        href=\"http:\/\/ask.fm\/\" rel=\"nofollow\"\u003eAsk.fm\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":390567399,"id_str":"390567399","name":"Victor
        Hernandez","screen_name":"Vic_Manny94","location":"","description":"Ambition
        Above All #NYY #LAL Follow Me. Success is the sweetest revenge. Life is a
        blessing. #businessman #futureleader #expansion IG: vicmanny94","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":694,"friends_count":627,"listed_count":0,"created_at":"Fri
        Oct 14 05:31:19 +0000 2011","favourites_count":4256,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":36055,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/441969583\/kobe-bryant-finals-mvp-lakersafplivetwo910692-bkn-nba-final-lake.jpg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/441969583\/kobe-bryant-finals-mvp-lakersafplivetwo910692-bkn-nba-final-lake.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000280680596\/41f8b457c9c1c6573ae65c3d08c8a3c3_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/378800000280680596\/41f8b457c9c1c6573ae65c3d08c8a3c3_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/6YhdVG7H54","expanded_url":"http:\/\/ask.fm\/a\/5o1dgaen","display_url":"ask.fm\/a\/5o1dgaen","indices":[116,138]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Wed
        Aug 21 06:23:17 +0000 2013","id":370068571495596033,"id_str":"370068571495596033","text":"Happy
        anniv smash blast #1heart2finger3yearsSMASHBLAST http:\/\/t.co\/cW6rd2xxdR","source":"\u003ca
        href=\"http:\/\/instagram.com\" rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=10&screen_name=gem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="tq4uvsPkouHDqfaNAQ49jNlNUhkgon8qJKAcFm7Yqw",
        oauth_signature="FMw25JuUjlwzkfqLWmJ5hloLhoc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377156385", oauth_token="1672554398-m0VpYgcLfnrqz0CxdabdYMK8o[...]
