---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show/gem.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="btvz49PZqva6xLPK5PpnIejpnlcHZckxQ7tGohRZ3E",
        oauth_signature="3k1M7SaD1yc9KCfWheJNIXDq7uU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377157976", oauth_token="1672554398-m0VpYgcLfnrqz0CxdabdYMK8ow9TFlivT2pyL1f",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 22 Aug 2013 07:52:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1377158546'
      X-Transaction:
      - 4e182961efd0c0fc
    body:
      encoding: US-ASCII
      string: ! '{"id":213747670,"id_str":"213747670","name":"The \u0442w\u03b9\u0442\u0442er
        Ruby Gem","screen_name":"gem","location":"San Francisco, CA","description":"A
        Ruby wrapper for Twitter API","url":"http:\/\/t.co\/rnjr99Mf9o","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/rnjr99Mf9o","expanded_url":"http:\/\/rubygems.org\/gems\/twitter","display_url":"rubygems.org\/gems\/twitter","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1183,"friends_count":7,"listed_count":63,"created_at":"Tue
        Nov 09 18:03:22 +0000 2010","favourites_count":3,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":86,"lang":"en","status":{"created_at":"Sun
        Jul 28 07:55:11 +0000 2013","id":361394389903355905,"id_str":"361394389903355905","text":"Retiring
        the fail whale. \ud83d\udc33 https:\/\/t.co\/hXcj6QlT3r","source":"\u003ca
        href=\"http:\/\/rubygems.org\/gems\/twitter\" rel=\"nofollow\"\u003eThe Ruby
        Gem\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":3,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"https:\/\/t.co\/hXcj6QlT3r","expanded_url":"https:\/\/github.com\/sferik\/twitter\/commit\/a4ef3acc035dc2786a9b11a295c4c59ba4f51dcd","display_url":"github.com\/sferik\/twitter\u2026","indices":[27,50]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/2921081357\/9e8b8662cd9c4c06887365d559e714a3_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/2921081357\/9e8b8662cd9c4c06887365d559e714a3_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 22 Aug 2013 07:52:58 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show/fsw0723.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="kcK4sgEVaOkmpPogw5UwQ", oauth_nonce="PqQfeTO5saJL52MkjpRDwVjSoSVkWtlvAkb1OjiiY",
        oauth_signature="rToNnHh0NxAzzbLtLOnmWrwoHRM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377228513", oauth_token="1672554398-m0VpYgcLfnrqz0CxdabdYMK8ow9TFlivT2pyL1f",
        oauth[...]
